@import "tailwindcss";
@tailwind utilities;
body{
  margin: 0;
  padding: 0;
  background: #f1f1f1;
  box-sizing: border-box;
}
@layer utilities {
  .bg-custom-purple {
    background-color: #6719ee;
  }
}